:root {
  background-color: rgb(51, 51, 51);
  font-family: "Roboto", sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
}

* {
  /* outline: 0.1px dotted red; */
}

body {
  color: white;
}

li {
  list-style: none;
}

fieldset {
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.4rem;
}

/* Header Component */
.header-Container {
  text-align: center;
}

.title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.neonText {
  color: #FFF;
  text-shadow:
    0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 20px #FFF,
    0 0 40px rgb(63, 92, 255),
    0 0 80px rgb(63, 92, 255),
    0 0 90px rgb(63, 92, 255),
    0 0 100px rgb(63, 92, 255);
}

.redNeon {
  color: #c95b5b;
  text-shadow:
    0 0 5px #c95b5b,
    0 0 10px #da4848,
    0 0 40px #da4848,
    0 0 80px #da4848,
    0 0 90px rgb(63, 92, 255),
    0 0 100px rgb(63, 92, 255);
}

.neonText span {
  animation: flicker 1100ms infinite;
}

.neonText .neon-flicker {
  animation-delay: 0.1s;
}

@keyframes flicker {
  0% {opacity: 0;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

.datePicker-container {
  margin: 1rem 0;
}

.datePicker-container input {
  color: rgb(212, 212, 212);
  text-align: center;
  font-size: 1.1rem;
  background-color: #505050;
}

/* CCOM Component */


/* Bulletin Component */
.bulletin-input {
  width: 3rem;
  height: 1.9rem;
  margin-left: 0.8rem;
  font-size: 1rem;
  text-indent: 0.15rem;
}

/* Additional Remark Component */
.additionalRemarks-Container {
  margin-bottom: 4rem;
}

.additionalRemark-input {
  width: 100%;
  height: 5rem;
}

/* Copy Button */
.copyButton {
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: rgba(52, 248, 111, 0.9);
  font-size: 2.2rem;
}

.copyButton.copied {
  background-color: rgba(248, 186, 52, 0.9);
}